@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: "Geist Variable", system-ui, sans-serif;
    --font-mono: "Space Mono", ui-monospace, monospace;
  }
}

body {
  margin: 0;
  font-family: var(--font-sans);
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.font-mono {
  font-family: var(--font-mono);
}

.text-balance {
  text-wrap: balance;
}
